@model IEnumerable<Selectio.Models.SqlTask>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tasks</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Solving)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SolvingOutput)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Solving)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SolvingOutput)
            </td>
            <td>
                <a asp-action="Detail" asp-route-id="@item.Id">Details</a> |
                <a asp-controller="SqlSolvings" asp-action="AllTaskSolvings" asp-route-id="@item.Id">View Solvings</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Create" asp-route-id="@item.Id">Copy</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
