@model IEnumerable<Selectio.Models.SqlSolving>
@inject UserManager<ApplicationUser> _userManager
@{
    ViewData["Title"] = "AllSOlvings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Solvings</h2>
<h3>Total: @Model.Count()</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                User
            </th>
            <th>
                Is Correct
            </th>
            <th>
                Solved At
            </th>
            <th>
                Solving
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        
        <tr>
            <td>
                @(await _userManager.FindByIdAsync(item.ApplicationUserId))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCorrect)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SolvedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Solving)
            </td>
            <td>
                <a asp-controller="SqlTasks" asp-action="Detail" asp-route-id="@item.SqlTaskId">Task</a> | 
                <a asp-controller="Users" asp-action="Details" asp-route-id="@item.ApplicationUserId">User</a>
            </td>
        </tr>
}
    </tbody>
</table>
