@model Selectio.Models.SqlSolvingViewModels.SolvingViewModel

@{
    ViewData["Title"] = "New Solving";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<p>@Html.Raw(Model.Description.Replace(Environment.NewLine, "<br/>"))</p>
<hr/>
<button class="btn btn-default" onclick="$('#tableDefinitions').toggle()">Show Definitions</button>
<hr />
<div id="tableDefinitions" style="display: none">
    <p>@Html.Raw(Model.Creates.Replace(Environment.NewLine, "<br/>"))</p>
    <p>@Html.Raw(Model.Inserts.Replace(Environment.NewLine, "<br/>"))</p>
    <hr />
</div>
<p><b>Errors: </b></p>
<p>@Html.ValidationSummary(false)</p>
<hr />


<form asp-action="Create">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="MySolving" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="MySolving" class="form-control" ></textarea>
                <span asp-validation-for="MySolving" class="text-danger" />
            </div>
        </div>

        <input type="hidden" asp-for="Creates" class="form-control"/>
        <input type="hidden" asp-for="Inserts" class="form-control" />
        <input type="hidden" asp-for="SqlTaskId" class="form-control" />
        <input type="hidden" asp-for="Name" class="form-control" />
        <input type="hidden" asp-for="Description" class="form-control" />

        


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Send" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
