@model IEnumerable<Selectio.Models.ApplicationUser>
@inject UserManager<ApplicationUser> _userManager
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Users</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @if (await _userManager.IsInRoleAsync(item, "teacher"))
                {
                    <span>teacher</span>
                }
                else
                {
                    <span>student</span>
                }
            </td>
            <td>
                <a asp-action="ToggleTeacher" asp-route-id="@item.Id">Make Teacher</a> |
                <a asp-controller="SqlSolvings" asp-action="AllUserSolvings" asp-route-id="@item.Id">View Solvings</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
